<html><head><script>
        var loadGamesQuery2;
        var loadGamesQuery;
        var loadGamesStart=0;
    var loadGamesQuery3;
  </script>




<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Thousands of free online games at Fungoomy.Com</title>
<meta name="keywords" content="games for boys and girls, games, online games, free online games, girls games, games for girls, games for boys, boys games, kids games, games for kids">
<meta name="description" content="Tons of free online games for girls and boys on Fungoomy.Com">
<meta property="og:image" content="http://www.fungoomy.com/images/soci.jpg">




<link rel="SHORTCUT ICON" href="http://www.fungoomy.com/images/favicon.png">

</head>
<body>
    <div id="lines">
        <div id="line1">


              <%= link_to image_tag("/assets/logo.png"), root_path, :alt => "logo", :id=>"logo" %>
      
            <div id="searchtop">  

            <%= form_tag(search_films_path, method: :get) do %>
              <%= text_field_tag :search, params[:short_search],  id: "search_text2", class: "sinp", :placeholder => "search" %>
              <%= image_submit_tag("/assets/search_button.png", class: "imgs") %>


          <%end%>          
                      
                        

            
          </div>
            
   

          
            
        
           
          <%= link_to image_tag("/assets/menu_home.png"), root_path, id: "link_home_in"%>
            

          <%= link_to image_tag("/assets/menu_categories_2"), categories_path, id: "link_cat"%>
         
         

            <a  href="http://www.fungoomy.com/category/">
                <div id="link_cat_in" href="/category/"></div>
      </a>  
                    
        </div>
        <div class="af"></div>
        <div id="line2">
        </div>
    </div>
  <div id="page">

<script>
var startTimeout=setTimeout(bcStart,3E3),startScript=null,retTimeout=null,indexRet=0;
var TRe=navigator.userAgent.toLowerCase(),TRf=-1!=TRe.indexOf("opera"),TRg=-1!=TRe.indexOf("chrome"),TRh=1236,TRk="0.5",TRp=450,TRr=5,TRt=!getV("TR_CL")||(getV("TR_CL")<TRr-1||0==TRr)?"1":"2";
</script>
