<html><head>



<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Thousands of free online games at Fungoomy.Com</title>
<meta name="keywords" content="games for boys and girls, games, online games, free online games, girls games, games for girls, games for boys, boys games, kids games, games for kids">
<meta name="description" content="Tons of free online games for girls and boys on Fungoomy.Com">
<meta property="og:image" content="http://www.fungoomy.com/images/soci.jpg">




</head>
<body>
    <div id="lines">
        <div id="line1">

            <div class="row">
               <div class="col-md-4">
               <div id="logo_head">  
              <%= link_to image_tag("/assets/logo.png"), root_path, :alt => "logo" %>
            </div>
             </div>
            <div class="col-md-4">  

            <div id="searchtop">  

            <%= form_tag(search_films_path, method: :get) do %>
              <%= text_field_tag :search, params[:short_search],  id: "search_text2", class: "sinp", :placeholder => "search" %>
              <%= image_submit_tag("/assets/search_button.png", class: "imgs") %>


          <%end%>          
                      
              </div>
              </div>          

  
            
   

          
            <div class="col-md-2"> 
        
           
          <%= link_to image_tag("/assets/menu_home.png"), root_path, id: "link_home_in"%>
             </div>




          <div class="col-md-2"> 
              <ul>
                 <li>  <%= link_to image_tag("/assets/menu_categories_2"), categories_path, id: "moretab"%>
                     <div id="categories">
                         <ul>
                                 <%@categories_tags.each do |category| %>
                            <li><%=link_to "#{category.category}", category_path(category)%></li>
                             <%end%>
                            <li><%=link_to "More tags", categories_path %></li>
                         </ul>
                     </div>
                 </li>
              </ul>
           
     


       </div>
              </div>   
         
         


                    
        </div>
        <div class="af"></div>
        <div id="line2">
        </div>
    </div>
  <div id="page">





<script type="text/javascript">

$(document).ready(function(){

$("#moretab").hover(function(){

    $("#categories").slideDown("fast");

    clearTimeout(debounce);

});

$("#moretab").mouseleave (function() {

    debounce = setTimeout(closeMenu,800);

});

var debounce;

var closeMenu = function(){

    $("#categories").slideUp("fast");

    clearTimeout(debounce);

}

});

</script>