= form_for @flash do |f|
  - if @flash.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flash.errors.count, "error")} prohibited this flash from being saved:"
      %ul
        - @flash.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :game
    = f.text_field :game
  .actions
    = f.submit 'Save'
