<!DOCTYPE html>

<html lang="en">
<%# title('All films') %>
<meta charset="utf-8">





<body>
<!-- wrapper -->
<div id="wrapper">
  <div class="light-bg">
    <!-- shell -->
    <div class="shell">
      <!-- header -->
    <%= render "home/head"%>
      <!-- end of header -->
      <!-- main -->
      <div class="main">
        <!-- content -->
        <section class="content">
          <% if @films.present? %>
          <% @films.each do |film| %>
     
            <div class="post">
              <!-- post-inner -->
              <div class="post-inner">
                <header>
                  <h2><a> <%= link_to "#{film.title}", film_path(film) %></a></h2>
                  <p class="tags"><a href="#">FAMILY</a> <a href="#">COMEDY</a> <a href="#">ANIMATION</a> </p>
                  <div class="cl">&nbsp;</div>
                </header>

              <div class="row">
                <div class="col-md-7">
   
           
          
                  <div class="meta">
                    <p class="date">
                   
                      <a><%= link_to "Download", film_path(film) %>
                      </a> 
                          <% if signed_in? %>
                            <% if  can_manage(current_user.films, film, Film) %>
                              <%= link_to  t('activerecord.attributes.edit'), edit_film_path(film) %>
                              <%= link_to t('activerecord.attributes.delete'), film, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
                          <% end %>
                           

                      </a>
                    </p>

                    <div class="right">
                      <div class="rating-holder">
                        <%=render partial: "voices/like_dislike", locals: {resourse_number: film, name_controller: Film} %>
                      </div>
                      <div class="comments"><%= link_to "#{film.comments.count} comments", film_path(film) %> 
                      </div>
                    </div>

                    <div class="cl">
                      &nbsp;
                    </div>
                  </div>
                  
              
                </div>

                <div class="col-md-5">
                  <div class="text_description">
                    <%= insert_text(film.description,490)%>
                  </div>
                  <%= ui_button 'read', t(:show),show_modal_film_path(film), data: { modal: true } %>
                </div>
              </div>
            
          </div>
          </div>
          <% end %>
          <% end %>
          <div class="pagination">
            <ul>
      
              <li class="active">
                <a>
             
                    <%= render_pagination_box(@films) %> 
                 
                </a>
              </li>
            </ul>
          </div>
        </section>

 
       <%= render "home/down"%>

        <div class="cl">&nbsp;</div>
      </div>

    
    </div>

<<<<<<< HEAD
  </div>
</div>
=======
  </div> <!--page-->
<div id="li_">



  
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t45.15;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='31' height='31'><\/a>")
//--></script>

>>>>>>> 955cfc217117025d3b926252aca2430a727cad21

</body>
</html>




