
  

  <div id="page">

<div align="center">
  <div id="cont_game">
    <h1 id="game_title"><%=@film.title%></h1>
      
      <div id="gamebigscreen1">
            <p>Screenshot</p>
              <div class="img_ramka">
               <%= image_tag(@film.uploaded_file)%>
               <%if user_signed_in?%>  
                  <%if current_user.admin=="t"%>
                    <%= ui_button 'edit',  t(:edit), edit_film_path(@film)%>
                    <%= ui_button 'delete',  t(:destroy), film_path(@film), method: :delete%>
                  <%end%>
                <%end%>
              </div>
      </div>
    
    <div id="b336x280_top_left">
      <p>Advertisement</p>
    </div> 


    <div class="af"></div>
    <br>
        <div class="af"></div>
           
            <div class="af"></div>
            <div id="description">
                <p>Description:</p>
            <span><%=@film.description%></span>
            </div>
                
        <div class="af"></div>
       <div align="center">
<script async="" src="show_game_files/adsbygoogle.js"></script>
<!-- Fungoomy.Com 728x90 (2 page) -->
<ins data-adsbygoogle-status="done" class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-3865870304158372" data-ad-slot="6919273646"><ins id="aswift_1_expand" style="display:inline-table;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:728px;background-color:transparent"><ins id="aswift_1_anchor" style="display:block;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:728px;background-color:transparent"><iframe marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_1" name="aswift_1" style="left:0;position:absolute;top:0;" frameborder="0" height="90" width="728"></iframe></ins></ins></ins>


</div><br>
        <div class="pregameinfo">
                                   
            <div class="moinf2">
              <% all_link(@film)%>
              <p>Category:<%@current_category.each do |k|%> </p>
                  <%k.each do |y|%>
                 <%=link_to "#{y.category}", category_path(y.id)%>
                     <%end%>
                <%end%>


         <p>Played Total: <span><%=@film.played%></span></p>
               <p>Size: <span><%=@film.uploaded_file_file_size/1000%>Mb</span></p>
               <p>Rating: <span><%=@film.played*100/(@film.played+8)%>%</span></p>
            </div>                        
            <div class="ratingbar"><div class="ratingbar_full" style="width: 85%;"></div></div>
    </div>
        
        <div class="b336x280_txt">
      <p>Advertisement</p>
      
<script async="" src="show_game_files/adsbygoogle.js"></script>
<!-- FunGoomy Down Right 336х280 -->
<ins data-adsbygoogle-status="done" class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-3865870304158372" data-ad-slot="1012340847"><ins id="aswift_2_expand" style="display:inline-table;border:none;height:280px;margin:0;padding:0;position:relative;visibility:visible;width:336px;background-color:transparent"><ins id="aswift_2_anchor" style="display:block;border:none;height:280px;margin:0;padding:0;position:relative;visibility:visible;width:336px;background-color:transparent"><iframe marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_2" name="aswift_2" style="left:0;position:absolute;top:0;" frameborder="0" height="280" width="336"></iframe></ins></ins></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


    </div>
        <div class="af"></div>
  </div>
    <div id="cont_game2">
        <div id="small_screen">
             <%= image_tag(@film.uploaded_file)%>
        </div>  
        <%= link_to image_tag("download.png"), root_path, id: "download"%>
        <%= link_to image_tag("green_button.png"), play_game_film_path(@film), id: "green_button"%>
       
        <div class="af"></div>
    </div>
</div>

  </div> <!--page-->




<iframe style="display: none; width: 0px; height: 0px;" name="google_osd_static_frame" id="google_osd_static_frame_5680275275894"></iframe></body></html>


















































