%p#notice= notice


        

%div{:class=>"row"}
  %div{:class=>"col-md-8"}     
    
    = @product.title
    = image_tag(@product.uploaded_file.url, size: "280x140")
    = @product.price


  %div{:class=>"col-md-4"}
    %div{:class=>"description_modal"}       
    Description:
    = @product.description
     

=ui_button 'edit',  t(:edit),edit_product_path(@product)

=ui_button 'back',  t(:back),products_path

=ui_button 'pdf',  t(:pdf), product_path(@product, format: :pdf)


=ui_button 'print',  t(:print),:onclick=>"window.print()"